.navigation ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

h1{
  text-align: center;
}
.navigation li{
  margin-right: 30px;
  padding: 8px;
  color: black;
  font-family:'Fredoka One' ;
  font-size: 18px;
}

.navigation a:hover{
  text-decoration: none;
  opacity: 0.5;

}

.logo div{
  background-image: url("images/green-logo.png");

}

.navigation{
  background-image: url("images/cam-adams.jpg");
  height: 100vh;
  /*width: 100vw;*/
  background-size: cover;
  /* background-position: center top;*/
}


.title-landing{
  color:#131011;
  font-size: 105px;
  /*opacity: 0.7; opacity doesnt show because of animation*/
  font-family: 'Fredoka One';
}

.banner{
  background-color: #A6C5EB;
  height: 600px;
}

.two img{
  height: 90vh;
  padding-top: 50px;
  border-radius: 1%;
}

.two{
  display: flex;
  align-items: center;

}



.two p{
  margin-left: 100px;
  font-family: 'Fredoka One';
  text-shadow: 1px 1px 2px black;
  color:#F6F2E9;
  font-size: 55px;
}

h1{
  animation-delay: 1s;
}


.hidden{
  opacity: 0;
}

p{
  animation-delay:1s;
  }

footer{
  height: 200px;
}

footer h2{
  text-align: center;
  font-family: 'Fredoka One';
  font-size: 40px;
  text-shadow: 1px 1px white;
}



#call-to-action{
  margin-left: 500px;
  background-color:#b73333;
  border-color: black;
  font-size: 20px;
  border-color: black;
}




