.navigation ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

h1 {
  text-align: center;
}

h3{
  text-align: center;
 font-family: 'Fredoka', cursive;
}

.sub-text{
  font-family: 'Righteous', cursive;
  font-size: 26px;

}
.navigation li{
  margin-right: 30px;
  padding: 8px;
  color: black;
  font-family:'Fredoka One' ;
  font-size: 18px;
}

.navigation a:hover{
  text-decoration: none;
  opacity: 0.5;

}

/*.logo div{
  background-image: url("images/green-logo.png");

}
*/


.navigation{
  background-image: url("images/cam-adams.jpg");
  height: 100vh;
  /*width: 100vw;*/
  background-size: cover;
  /* background-position: center top;*/

;
}


.title-landing{
  color:#131011;
  font-size: 105px;
  /*opacity: 0.7; opacity doesnt show because of animation*/
  font-family: 'Fredoka One';
  text-shadow: 1px 1px #f4f7ef;
}

.banner{
  background-color: #A6C5EB;
  height: 800px;
  border: 1px solid black;
}

#about-banner{
  box-shadow: 10px 3px 8px #888888;

}
.two img{
  height: 90vh;
  padding-top: 50px;
  /*border-radius: 1%;*/
  width: 65vw;


}

.two{
  display: flex;
  align-items: center;

}



.two p{
  margin-left: 100px;
  font-family: 'Fredoka One';
  text-shadow: 1px 1px 2px black;
  color:#F6F2E9;
  font-size: 55px;
}

h1{
  animation-delay: 0.7s;
}


.hidden{
  opacity: 0;
}

p{
  animation-delay:1s;
  }

i{
  animation-delay:2s;
  padding-top: 5px;
  padding-left: 10px;
  opacity: 0.4;
}

i:hover{
  opacity: 1;
}

.footer-icons{
  margin-top: 285px;
}

 .footer-icons{
  cursor: pointer;
}

footer{
  height: 500px;

}

footer h2{
  text-align: center;
  font-family: 'Fredoka One';
  font-size: 40px;
  text-shadow: 1px 1px #f4f7ef;
}

button{
  border: none;
  background: none;
  outline: inherit;
}

button:hover{
  opacity: 0.5;
}



#call-to-action{
  margin-left: 528px;
  margin-top: 50px;
  background-color:#b73333;
  padding: 10px;
  border-color: black;
  font-size: 20px;
  border-color: black;
  box-shadow: 2px 2px #8888;
  outline: inherit;
}





